/* .collapse {
    visibility: visible;
}

.Navigation-Bar .navbar{
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.Navigation-Bar .container{
    position: relative;
    padding: 0!important;
    .navbar-collapse.navigation.nav-link{
        color: black;
    }
}

.Navigation-Bar .navbar-toggler {
    border: none;
  }
.Navigation-Bar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.Navigation-Bar .navigation{
    gap: 1vw;
    
}
.Navigation-Bar .navigation .navLink{
    border: 1px solid black;
    padding: 9px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.Navigation-Bar .navigation .navLink::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    left: 0;
    bottom: -100%;
    border-radius: 20px;
    z-index: 0;
}

.Navigation-Bar .navigation .navLink:hover::after{
    cursor: pointer;
    bottom: 0;
    background-color: black;
    transition: all ease-in-out 0.5s;
}

.Navigation-Bar .navigation .navLink a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 10;
}

.Navigation-Bar .navigation .navLink:hover a{
        color: white!important;
} */

/* Navbar CSS */
.Navigation-Bar{
  overflow: hidden;
}

.Navigation-Bar .Nav-text{
  color:white;
  /* font-size: 30px; */
  font-family: var(--lilita-font);
}

.Navigation-Bar .navbar {
    position: fixed;
    width: 100%;
    /* background-color: transparent; */
    background-color: #ea9215;
    z-index: 1000;
    color: white;
    /* margin-top: 15px; */
    /* padding-top: 15px; */
  }
  
.Navigation-Bar .navbar.sticky {
    position: fixed;
    left: 0;
    top: 0;
    /* padding-top: 5px; */
    background-color: white;
    -webkit-transition: all 15ms ease-in-out;
    -o-transition: all 15ms ease-in-out;
    -moz-transition: all 15ms ease-in-out;
    -ms-transition: all 15ms ease-in-out;
    transition: all 15ms ease-in-out;
    animation: stickyTransition 0.5s both; /* animation-name duration timing-function fill-mode */
    -webkit-animation: stickyTransition 0.5s both; /* animation-name duration timing-function fill-mode */
    box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
    -webkit-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
    -o-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
    -ms-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
  }
  
  @keyframes stickyTransition {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  header .logo img {
    width: auto;
    max-width: inherit;
    max-height: 80px;
  }
  
  header .nav-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white)!important;
    padding: 0 1rem !important;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: var(--oswald-font);
    text-transform: uppercase;
    -webkit-transition: all 15ms ease-in-out;
    -ms-transition: all 15ms ease-in-out;
    -o-transition: all 15ms ease-in-out;
    -moz-transition: all 15ms ease-in-out;
    transition: all 15ms ease-in-out;
  }
  
  header .sticky .nav-link,header .sticky .nav-link.active,header .sticky .nav-link.show{
    color: var(--light-black)!important;
  }
  
  header .nav-link:hover {
    cursor: pointer;
    color: var(--yellow)!important;
  }
  
  @media (max-width: 992px) {
    header .navbar {
      background-color: var(--white);
    }
    header .navbar-toggler {
      border: none;
    }
    header .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
  
    header .navbar-toggler-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    header .nav-link {
      color: var(--light-black);
      padding: 1rem !important;
    }
    header .logo:focus
    {
      outline: none;
      box-shadow: none;
      border: none;
    }
    a.nav-link{
      color: var(--light-black) !important;
    }
  }
  
  /* .sidebar.close.collapse:not(.show){
    display: none;
  } */
  
  .navigation .register_now:focus,
  .navigation .register_now:hover{
    background-color: var(--yellow);
    color: var(--light-black);
  }
  
  /* @media (max-width: 992px) {
    .navigation .register_now{
      
    }
  } */